@* Menú lateral inspirado en la columna azul de la imagen *@
<nav class="side-menu">
    <div class="side-menu__brand">Menú</div>
    <ul class="side-menu__list">
        <li class="side-menu__item side-menu__item--active">Ventas</li>
        <li class="side-menu__item">Productos</li>
        <li class="side-menu__item">Clientes</li>
        <li class="side-menu__item">Reportes</li>
        <li class="side-menu__item">Configuración</li>
        <li class="side-menu__item">Soporte</li>
    </ul>
    <div class="side-menu__footer">Sistema POS © 2025</div>
</nav>
